<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Document</title>
</head>

<body>


    <div id='app'>
        <div>Inserisci il numero di mail che vuoi generare (default: 10)</div>
        <input type="number" v-model="number">
        <button @click="generate">genera</button>
        <ul>
            <li v-for="mail in mailArray">{{mail}}</li>
        </ul>

    </div>

    <!-- Development only cdn, disable in production -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='./assets/js/app.js'></script>
</body>

</html>

